@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist


<h3>Edit this stylist:<em> @Html.DisplayFor(model => model.Name)</em></h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Details)
  @Html.TextBoxFor(model => model.Details)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("- Back to list -", "Index")</p>